doctype html
html
    head
        title Success
        link(rel='stylesheet', href='/css/style.css')
    body
        div.container
            h1 Successfully Connected
            h3 You can now return to the program
