doctype html
html
    head
        title Error
        link(rel='stylesheet', href='/css/style.css')
    body
        div.container
            h1.error "Connection Unsuccessful"
            h3 There was an error while trying to connect to Spotify.
